* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* barlow-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/barlow-v12-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-family: "Fraunces";
  src: url("./fonts/fraunces-9pt-black.ttf");
}
:root {
  --text-color: #333d4b;
  --primary-color: #83888f;
  --white-color: #fefcf7;
  --bg-color: #0e8784;
  --orange: #fdd6ba;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
.header {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
h1,
h2,
h3 {
  font-family: "Fraunces";
  font-weight: 800;
}
a,
p,
span {
  font-family: "Barlow";
}
ul,
li,
a {
  text-decoration: none;
  list-style: none;
}
.navbar {
  padding-top: 4.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
  margin-bottom: 4.3rem;
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 3.3rem;
}
.navbar__link {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 125% */
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  color: var(--primary-color);
}
.navbar__link:hover{
    color: var(--text-color);
}
.navbar__link2:hover{
    color: var(--white-color);
}
.back {
  width: 100%;
  margin: 0 auto;
}
.back__cont {
  background-image: url("./images/cofee.png");
  background-repeat: no-repeat;
  padding-bottom: 11.6rem;
  background-size: cover;
  padding-left: 8.6rem;
  padding-top: 11.7rem;
  margin-bottom: 12.3rem;
}
.back__cont h1 {
  color: var(--white-color);
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 7.2rem; /* 100% */
  width: 49.3rem;
}
.back__cont p {
  color: var(--white-color);
  width: 43.5rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem; /* 162.5% */
  margin-bottom: 5.6rem;
}
.back__cont a, .crea {
  color: var(--white-color);
  text-align: center;
  background-color: var(--bg-color);
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.5rem; /* 138.889% */
  font-family: "Fraunces";
  border-radius: 0.6rem;
}
.crea:hover{
    background-color: #66D2CF;
}
.collection {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.text__coll h1 {
    width: 1111px;
  text-align: center;
  font-size: 150px;
  font-style: normal;
  font-weight: 900;
  line-height: 7.2rem; /* 48% */
  text-align: center;
  background: -webkit-linear-gradient(rgb(199 199 200), rgb(255 255 248 / 0%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text__coll {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img__item {
  display: flex;
  gap: 3rem;
  align-items: center;
  position: relative;
  top: -11rem;
  left: 0%;

}
.item__text h2 {
  text-align: center;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 3.2rem;
  margin-top: 7rem;
}
.img-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item__text p {
  margin-top: 2.4rem;
  text-align: center;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem; /* 162.5% */
  width: 25rem;
}
.choose__cont{
    background-color: #293039;
    padding-top: 10rem;
    padding-left: 8.5rem;
    padding-right: 8.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--white-color);
}
.choose__cont h1{
    font-size: 4rem;
font-style: normal;
font-weight: 900;
line-height: 4.8rem;
color: var(--white-color);
}
.choose__cont p{
    font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: 2.6rem;
width: 53rem;

}
.cards{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.card{
    width: 350px;
    height: 382px;
    border-radius: 8px;
    background: var(--bg-color);
    padding-top: 7.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: -15rem;
}
.card h3{
    font-size: 2.4rem;
font-style: normal;
font-weight: 900;
line-height: 3.2rem;
margin-top: 5.6rem;
margin-bottom: 2.4rem;
}
.card p {
    width: 24rem;
}
.work__cont{
    display: flex;
    align-items: center;
    gap: 9.5rem;
    margin-bottom: 6.4rem;
}
.workline h1 {
    color: var(--primary-color);
font-size: 2.4rem;
font-style: normal;
font-weight: 900;
line-height: 3.2rem; /* 133.333% */
margin-bottom: 8rem;
}
.works{
    margin-top: 30rem;
}
.circle, .circle1, .circle2{
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 2px solid #0e8784;
    background: transparent;
    z-index: 1;
}
.circle::before{
    content: "";
    display: block;
    width: 34.4rem;
    height: 0.2rem;
    background-color: var(--orange);
    z-index: 0;
    font-size: 15px;
    position: relative;
    top: 13px;
    left: 3rem;
}
.circle1::before{
    content: "";
    display: block;
    width: 41.2rem;
    height: 0.2rem;
    background-color: var(--orange);
    z-index: 0;
    font-size: 15px;
    position: relative;
    top: 13px;
    left: 3rem;
}
.no1 h2{
    color: var(--orange);
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 7.2rem; /* 100% */
    margin-top: 6.7rem;
}
.no1 h3 {
    color: var(--text-color);
font-size: 3.2rem;
font-style: normal;
font-weight: 900;
line-height: 36px; /* 112.5% */
margin-top: 3.8rem;
}
.no1 p {
    color: var(--text-color);
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 28rem;
margin-top: 6.4rem;
}
.footer{
    margin-top: 20rem;
    padding-bottom: 8.8rem;
}
.foot-navbar{
    padding-left: 8.5rem;
    padding-right: 8.5rem;
    padding-top: 4.7rem;
    padding-bottom: 4.7rem;
    background: #2C343E;
}
.footer-list{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
